{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Startups</h1>
<div class="row">
{% for startup in startups %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static startup.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ startup.title }}</h5>
                <p class="card-text">{{ startup.description }}</p>
                <a href="{% url 'startup_detail' startup.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}